<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cobalt Electronics - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index"><img src="~/Images/CompLOGO.png" style="max-height:40px; margin-top:10px; width:200px; margin-right:50px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right"> 
                    <li><a href="/home/shoppingCart"><img src="~/Images/cartIcon.png" style="max-width:30px;max-height:30px;" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer style="text-align:center" class="col-md-12">
            <p>Cobalt Electronics - &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
